{% include 'header1.html' %}
{% load static %}
    <section class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-right-xl u-clearfix u-image u-section-1" id="carousel_8a7b" data-image-width="1280" data-image-height="853">
      {% if messages %}
{% for message in messages %}
<p style="color: red">{{ message }}</p>
{% endfor %}
{% endif %}
      <div class="u-layout-horizontal u-list u-list-1">
        <div class="u-repeater u-repeater-1">
      <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-size-29-sm u-size-29-xs u-size-40-lg u-size-40-xl u-size-60-md">
              <div class="u-layout-row">
                <div class="u-align-center u-container-style u-layout-cell u-radius-50 u-shape-round u-size-33 u-layout-cell-1">
                  <div class="u-container-layout u-container-layout-1"><span class="u-file-icon u-icon u-icon-1"><img src="{% static 'images/link.png' %}" alt=""></span>
                    <h2 class="u-custom-font u-font-montserrat u-text u-text-palette-4-dark-1 u-text-1"> Copy Video link from youtube or simply search for the video in the search bar</h2>
                  </div>
                </div>
                <div class="u-align-center u-container-style u-layout-cell u-size-27 u-layout-cell-2">
                  <div class="u-container-layout u-valign-bottom-lg u-container-layout-2"><span class="u-file-icon u-icon u-icon-2"><img src="{% static 'images/searchbar.png' %}" alt=""></span>
                    <h2 class="u-custom-font u-font-montserrat u-text u-text-palette-4-dark-1 u-text-2"> Paste link in the search bar if you copied a link </h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-20-lg u-size-20-xl u-size-31-sm u-size-31-xs u-size-60-md">
              <div class="u-layout-col">
                <div class="u-size-60">
                  <div class="u-layout-row">
                    <div class="u-align-center u-container-style u-layout-cell u-size-60 u-layout-cell-3">
                      <div class="u-container-layout u-container-layout-3"><span class="u-file-icon u-icon u-icon-3"><img src="{% static 'images/click.png' %}" alt=""></span>
                        <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-palette-4-dark-1 u-text-3"> Click the search icon to continue</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% include 'footer.html' %}


