{% include 'header2.html' %}
    <section class="u-clearfix u-section-1" id="sec-c018">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-text u-text-1">Select the video:</h3>
        <ul class="u-custom-list u-text u-text-2">
          {% for title, video_id, length in zip %}

            <li>
              <div class="u-list-icon u-text-grey-90">
                <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">➢</div>
              </div>
              <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-light-3 u-btn-1" href="{% url 'get-link' video_id %}">
              <span style="font-size: 1.5rem;"> {{ title }}&nbsp; --- {{ length }}</span> </a>
              <br>
            </li>
            {% endfor %}
        </ul>
      </div>
    </section>
{% include 'footer.html' %}