{% include 'header1.html' %}
<section class="u-clearfix u-palette-4-light-1 u-section-1" id="sec-c018">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-text u-text-1">Select the video:</h3>
        <ul class="u-custom-list u-text u-text-2">
            {% for title, video_id, length in zip %}

            <li>
                <div class="u-list-icon u-text-grey-90">
                    <div style="">➢</div>
                </div>

              <a href="{% url 'get-link' video_id %}"
                 data-page-id="115203077" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">

                  <span style="font-size: 1.5rem;">
    {{ title }} ---- {{ length }}
    </span>

              </a>

                <br>
            </li><hr>
{% endfor %}
        </ul>
    </div>
</section>
{% include 'footer.html' %}