
    <!DOCTYPE html>
    <html style="font-size: 16px;">
    {% load static %}
      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="keywords" content="INTUITIVE">
        <meta name="description" content="Youtube Video Downloader">
    <title>Select Quality</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'style2.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'index.js' %}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "{% static 'images/logo.png' %}",
		"sameAs": []
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Select Quality">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-image u-xl-mode" style="background-position: 50% 50%; background-image: url({% static 'images/background.jpg' %});"><header class="u-clearfix u-header u-header" id="sec-10db" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><style class="u-sticky-style" data-style-id="f115">.u-sticky-fixed.u-sticky-f115:before, .u-body.u-sticky-fixed .u-sticky-f115:before {
borders: top right bottom left !important; border-color: #404040 !important; border-width: 3px !important
}</style><div class="u-clearfix u-sheet u-sheet-1">
        <a href="{% url 'home' %}" class="u-image u-logo u-image-1" data-image-width="378" data-image-height="53">
          <img src="{% static 'images/logo.png' %}" class="u-logo-image u-logo-image-1">
        </a>
        <h1 class="u-align-center u-text u-text-default u-text-palette-4-light-1 u-text-1">Download Youtube&nbsp; Videos&nbsp; for&nbsp; FREE</h1>
        <form action="{% url 'home' %}" method="post" class="u-border-1 u-border-grey-30 u-radius-17 u-search u-search-left u-white u-search-1">

          <input class="u-search-input" type="text" name="link" value="" placeholder="Search or Paste link here...">
            <button class="u-search-button" type="submit">
            <span class="u-search-icon u-spacing-10">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-62ea"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-62ea" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" class="u-svg-content"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path></svg>
            </span>
          </button>
        </form>
      </div></header>